table{
border: 1px solid black;
margin: 25px auto 0;

}

table, th,td {
    border: 1px solid black;
    padding: 12px;
}

table caption{
    font-size: 30px;
    font-family:  "serif";
    padding-bottom: 25px; 
}
