
body {
    font-family: Verdana;
    margin:0;
    
    
}

nav{
    background-color:activecaption;
    width:100%;
    height:10%;
    max-width: 900px;
    margin:auto;
    text-align: center;
    
}


nav ul li {
    display: inline;
    padding: 15px;  

}

nav ul li:last-child{
    border-bottom: 0;
 
}

nav ul li a {
    color: white;
    text-decoration:none;
}

nav ul li a:hover {
    text-decoration:underline;
}

table{
max-width: 650px;
margin: auto;
margin-top:50px; 
}

table caption{
    font-size: 30px;
    font-family: "Monotype Corsiva";
}

form{
    max-width: 650px;
    margin:auto;
    margin-top:50px;
}
form input  {
    margin-left:50px;
}

